/* Hello There */

body {
    font-family: "Work Sans" sans-serif;
}

.header {
    background-color: #666666; 
    color: #FFFFFF;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 .5em black;
}

.logo {
    font-family: "Pacifico" cursive;
    font-size: 48px;
    text-align: center;
    padding: 1em;
}

.rikin {
    color: #19D175;
}

.links {
    text-align: center;
}

.links a {
    transition: all 1.0s ease;
    color: #FFFFFF;
    padding: 1em;
}

.links a:hover {
    color: #19D175;
}

.navbar-custom {
    background-color: #333333;
    border-radius: 0;
    border: 0;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-nav > li {
    transition: all 1.0s ease;
    float: none;
    display: inline-block;
}

.navbar-nav > li:hover {
    background-color: #19D175;
}

.nav.navbar-nav li a{
    font-size: 1em;
    letter-spacing: .2em;
    color: white;
}

.btn-custom {
    margin: 
}