/* Hello There */

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    background:  #BEDB39;
}

p {
    font-size: 16px;
}

hr {
    border-color: #545454;
}

.header {
    background-color: #545454; 
    color: #FFFFFF;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 .5em black;
}

.logo {
    font-family: "Pacifico" cursive;
    font-size: 48px;
    text-align: center;
    padding: 1em;
}

.rikin {
    color: #BEDB39;
}

.links {
    text-align: center;
}

.links a {
    transition: all 1.0s ease;
    color: #FFFFFF;
    padding: 1em;
}

.links a:hover {
    color: #BEDB39;
}

.navbar-custom {
    background-color: #242424;
    border-radius: 0;
    border: 0;
    box-shadow: 0px 2px 2px black;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-nav > li {
    transition: all 1.0s ease;
    float: none;
    display: inline-block;
}

.navbar-nav > li:hover {
    background-color: #BEDB39;
}

.nav.navbar-nav li a{
    font-size: 1em;
    letter-spacing: .2em;
    color: white;
}

.about-me {
    padding: 2em;
    color: #545454;
}

.about-me h1 {
    letter-spacing: .1em;
    font-size: 48px;
}

.about-me > .quote-block {
    border-radius: 1em;
    font-style: italic;
    font-weight: 600;
    letter-spacing: .2em;
    color: #FFFFFF;
}

.about-me > .about-info {
    padding-top: 2em;
}

.well {
    background-color: #545454;
    color: #FFFFFF;
    margin-top: 2em;
    border: 1px solid #BEDB39;
    border-top-color: #BEDB39;
}

.well-body .about-color {
    color: #BEDB39;
}


