<div class="row about-me">
    <div class="col-md-12 text-center quote-block">
        <img  class="img-rounded" ng-src="{{ me.pic }}" >
    </div>
    <div class="col-md-6 col-md-offset-3 about-info">
        <div class="panel panel-default">
            <div class="panel-body">
                My name is Rikin Marfatia. I am a recent CS grad from Georgia Tech. I want to build software that is beautiful both in design and functionality. I am passionate about alot of areas in Software, but currently I am focusing on becoming a better native mobile / full-stack web developer. I am also very interested in Artificial Intelligence and it's use-cases. This website is a work in progress and will serve as a tool to test new web technologies. Enjoy your stay.
            </div>
        </div>
    </div>
</div>
