<div class="row content">
    <div class="col-md-12 text-center">
        <h1>ABOUT ME</h1>
        <hr class="about-page-hr">
    </div>
    <div class="col-md-12 text-center quote-block">
        <img  class="img-circle" ng-src="{{ me.pic }}" >
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="well well-lg">
            <div class="well-body">
                My name is <span class="about-color">Rikin Marfatia</span>. I am a recent <span class="about-color">CS grad</span> from <span class="about-color">Georgia Tech</span>. I want to build software that is beautiful both in design and functionality. I am passionate about alot of areas in software, but currently I am focusing on becoming a better <span class="about-color">Native Mobile / Full-Stack Web Developer</span> and in general a better <span class="about-color">Software Engineer</span>. I am also very interested in <span class="about-color">Artificial Intelligence</span> and it's use-cases. This website is a work in progress and will serve as a tool to test new web technologies. Enjoy your stay!
            </div>
        </div>
    </div>
</div>
